*{
  overflow-x: hidden;


}

.App {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  place-items: center;
  background-color: #103ea0;
  align-items: flex-start;
  overflow-x: hidden;
 


 
 
}

body {
  padding: 0;
  margin: 0;
 
}

.login,
.signUp {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 5px solid rgb(0, 0, 0);
}

.login input,
.signUp input {
  margin: 10px;
  padding: 10px;
  border: 1px solid red;
  border-radius: 4px;
  width: 300px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
}

.login button,
.signUp button {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  width: 320px;
  height: 30px;
  cursor: pointer;
}

.login label,
.signUp label {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: red;
}

.board {
  width: 500px;
  height: 500px;
  background-color: red;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
p{
  display: flex;
}
.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.square {
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.square:active {
  background-color: red;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
}

.joinGame input {
  padding: 10px;
  border: 1px solid blue;
  border-radius: 4px;
  width: 220px;
  height: 30px;
}
.joinGame button {
  padding: 10px;
  border: 1px solid red;
  border-radius: 4px;
  width: 220px;
  height: 51px;
  cursor: pointer;
}


.widget-social {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.logo{
position: absolute;
top: 0.5px;
left: 1em;
overflow:hidden;
width: 95vw;
background-color: #103ea0;
overflow: hidden;
padding: 1em;
margin: 0;






}

.main {

  display: flex;
  margin-top: 6rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2em;
  width: 100vw;
  flex-wrap: wrap;
 


  

  }
  
.title{
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: auto auto;
 

}

.end{
  align-items: flex-end;
}


.fight {
 
  position: center;
  right: 2rem;
  max-width: 100%;
	height: auto;
  display: flex;
  padding: 3rem;

  }

.tictac{
  padding: 1rem;
  position: center;
 
	height: auto;
  display: flex;

  }
 

.connect{
color: initial;
position: absolute;
width: 200px;
height: 50px;
top: 1rem;
right: 3rem;


}
.SignInButton{
  color: initial;
}
.description{
  height: 500px;
  background-color: #103ea0;
  border: 1px solid black;
  align-items: flex-start;
  

}

.card{
display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  background-color: #103ea0;
  color: white;
}


.titles {
 
  display: flex;
 
  flex-wrap: wrap;
  background-color: #103ea0;

  flex-wrap: wrap;
  flex-direction: column;
  
 
}

.socials {
  background-color: #103ea0;

  display: flex;
  align-items: center;
  
}
.SocialLinks {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: #103ea0;
  padding-left: 20%;
  
  align-items: center;
  
}  
  
 



.a{
  flex: initial;
  display: flex;
  flex-direction: row;

  
  
 }
.socials{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 }
.titles{
  background-color: #103ea0;
 }

p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
}